* {
	margin: 0;
	padding:0;
}

html{
	background-color: #f2f2f2;
}


body{
	font-family: 'Open Sans', sans-serif;
	/*font-size: 100%;
	width: 800px;
	margin: 0 auto; */
	
	max-width: 960px;
	width: 95%; 
	margin: 0 auto;
	padding: 0;
	border: 3px;

}


a:focus, a:hover {
	font-style: italic;
}

header{
	padding: 0.9375em 1.875% 0.9375em 1.875%;
	background-color: white;
}

header img {
	float: right;
	padding-right: 1.875%;
	width: 10.6%;
	max-width: 85px;
	min-width: 40px;
}

#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 20%; 
}
#nav_menu ul ul {
	display: none; 
	position: absolute;
	top: 100%; 
}
#nav_menu ul ul li {
	float: none; 
}
#nav_menu ul li:hover > ul {
	display: block;
	width: 100%;
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

/* The styles for the formatting of the 2-tier navigation menu */
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: 0.7em 0;
	text-decoration: none;
	background-color: #e6e6e6;
	color: #666666;
	font-weight: bold;
}
#nav_menu ul li.lastitem a {
	/* width: 160px; /* leave this here just in case you make this a 3-tier menu */
}
#nav_menu ul li a.current {
	color: #b3b3b3; /* per Halloween Ex. 7, Spec: 1 cont'd. */
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #cccccc;
}



main{
	border: 1em solid #D3D3D3;
	background-color: #D3D3D3;
}

footer{
	border-top: 1em solid #D3D3D3;
	padding: 0.9375em 1.875% 0.9375em 1.875%;
	background-color: #D3D3D3;
}


#mobile_menu {
	display: none;
}


@media only screen and (max-width: 800px) {
	html {
		background-image: none; 
	}
	body {
		font-size: 90%
	}
}


@media only screen and (max-width: 767px) {


	#nav_menu {
		display: none;
	}

	#mobile_menu {
		display: block; 
	}
